.Nav-bar{
   display: flex;
   justify-content: center;
   align-content: center;
    
    background:  rgba(19, 23, 24, 0.7) !important;
    background-blend-mode: multiply !important;
   
}


.simplelineicons{
  border: 1px solid #cecece;
  border-radius: 60px;
  padding: 20px;
 
  font-size: 40px;
  color: #0088CC;
}

.logo{
    width: 10%;
    margin-right: 500px;
    margin-left: 200px;
}

.nav-item{
 
}

.Nav-logo{
   
}

.btn-outline{
    color: #0088CC;
    background-color: transparent;
    background-image: none;
    border-color: #0088CC;
    width: 120px;
    border: 2px solid #0088CC;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

@keyframes zoom {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
}


@keyframes typing {
    from {
      width: 0
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.bannerText{
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
} 

.bannerImage{
    animation: zoom 20s ease-in infinite;
}

.nav-container{

}

body{
    margin:0px !important;
}

.links{
     color: white !important;
     text-transform: uppercase !important;  
}




.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent !important;
    border-bottom: 2px solid #0088CC;
    color: black !important;
    border-radius: 0 !important;
}

.properties{
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 50px;
  text-align: center;
  
}

.nav-item{
  background-color: transparent !important;
  border-bottom: 3px solid #eee;
  color: black !important;
  border-radius: 0 !important;
}
/* .nav-pills .nav-link.active, .nav-pills .nav-link{
  padding: 15px 30px;
    background: none;
    border: 0;
    border-bottom: 3px solid #eee;
    border-radius: 0;
    color: #777;
    font-size: 16px;
} */


.service{
   
  padding: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
    
   
}

.sub-service{
   margin-left: 5px;
}

.Nav-Item{
    margin: 20px;
}

.herosection{
    position: absolute;
bottom: 50px;
}




@media screen and (min-width:300px){
  
  .nav-item{
    margin-bottom: 60px;
  }
}